@if (pais) {

  <div
    class="modal-overlay"
    (click)="cerrarModal()"
  >

    <div
      class="modal-contenido"
      (click)="$event.stopPropagation()"
    >

      <!-- =========================
           HEADER DEL MODAL
      ========================== -->
      <div class="modal-header">

        <div class="modal-titulo">

          <!-- TÍTULO DETALLES -->
          @if (vista === 'detalles') {

            <span class="titulo-icono">
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <circle
                  cx="12"
                  cy="12"
                  r="9"
                ></circle>

                <path
                  d="M12 10v6"
                ></path>

                <circle
                  cx="12"
                  cy="7"
                  r="0.8"
                ></circle>
              </svg>
            </span>

            <div>
              <span class="titulo-etiqueta">
                INFORMACIÓN DEL PAÍS
              </span>

              <h2>
                Detalles
              </h2>
            </div>

          }


          <!-- TÍTULO CLIMA -->
          @if (vista === 'clima') {

            <span class="titulo-icono">
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M7 18h10a4 4 0 0 0 .5-7.97A5.5 5.5 0 0 0 7 8.5a4.5 4.5 0 0 0 0 9.5Z"
                ></path>

                <path
                  d="M8 21l1-2"
                ></path>

                <path
                  d="M12 21l1-2"
                ></path>

                <path
                  d="M16 21l1-2"
                ></path>
              </svg>
            </span>

            <div>
              <span class="titulo-etiqueta">
                INFORMACIÓN METEOROLÓGICA
              </span>

              <h2>
                Clima
              </h2>
            </div>

          }

        </div>


        <!-- BOTÓN CERRAR -->
        <button
          type="button"
          class="btn-cerrar"
          (click)="cerrarModal()"
          aria-label="Cerrar"
        >

          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <line
              x1="6"
              y1="6"
              x2="18"
              y2="18"
            ></line>

            <line
              x1="18"
              y1="6"
              x2="6"
              y2="18"
            ></line>
          </svg>

        </button>

      </div>


      <!-- =========================
           CONTENIDO DEL MODAL
      ========================== -->
      <div class="contenido-modal">


        <!-- =====================
             MODAL DETALLES
        ====================== -->
        @if (vista === 'detalles') {

          <div class="contenido-interno">

            <app-pais-detalle
              [paisInput]="pais"
              [dentroModal]="true">
            </app-pais-detalle>

          </div>

        }


        <!-- =====================
             MODAL CLIMA
        ====================== -->
        @if (vista === 'clima') {

          <div class="contenido-interno">

            <app-clima
              [codigoPais]="pais.codes.alpha_2"
              [dentroModal]="true">
            </app-clima>

          </div>

        }

      </div>

    </div>

  </div>

}